<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/signin.css">
  <link rel="stylesheet" href="./css/header.css">
  <title>登陆</title>
</head>

<body>
  <header class="header">
    <img src="./img/menu.svg" alt="">
    <h1 class="title">登陆</h1>
  </header>
  <div class="signin">
    <div class="signin-top">
      <h3 class="signin-title">登陆骑士天下</h3>
    </div>
    <p class="signin-msg">在您的任意设备上登录 骑士帐号，即可获取您的好友、战斗记录、和其他相关信息设置。
    </p>
    <p class="signin-msg2">输入您的账号和密码</p>
    <form class="signin-form">
      <input class="username" name="username" type="text" placeholder="昵称/邮箱">
      <input class="passwrod" name="password" type="password" placeholder="密码">
      <button class="btn">登陆</button>
    </form>
  </div>
</body>

</html>
<script src="/jquery/dist/jquery.min.js"></script>
<script>
  $('.btn').click((e) => {
    e.preventDefault();
    $.post('/signin', $('.signin-form').serialize(), data => {
      if (data.status == 200) {
        localStorage.setItem('user',data.username);
        window.location = '/index.html';
      }
    }, 'json')
  })

</script>